* {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 500;;
}

:root {
    --borda: rgba(40, 40, 40, 1);
    --blue: #6320EE;
    --backBtn: #c90303;
    --backBtn-hv: #920202;
    --boxShadowBtn: rgba(146, 2, 2, 0.4);
    --winner: rgb(23, 118, 206, 0.8);
    --draw: rgba(230, 131, 39, 0.8);
}

body,
a {
    color: #d9d9d9;
}

body {
    background-color: #151516;
}

main,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* width: 100%; */
    height: 100vh;
}