* {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 500;;
}

:root {
  --borda: rgba(40, 40, 40, 1);
}

body {
  background-color: #151516;
}

main, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

span {
  font-size: 2rem;
  color: #734ebd;
}

img {
  width: 70%;
}

h1 {
  margin: 20px;
  font-size: 4rem;
  color: #6320EE;
}

h1::after {
  content: url('./imagens/favicon.ico');
  margin-left: 1.05rem;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.box {
  border: 4px solid  var(--borda);
  border-radius: 5px;
  padding: 20px;
  width: 8rem;
}

.dice {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.result {
  background-color: rgb(32, 32, 32);
  width: 85%;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 3px;
  background: rgb(201, 3, 3);
  color: rgb(250, 250, 250);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
}

.result button:hover{
  background: rgb(146, 2, 2);
  cursor: pointer;
  transform: scale(0.98);
  box-shadow: 5px 5px 10px rgba(146, 2, 2, 0.4);
}

.result .answer {
  border: 4px solid var(--borda);
  padding: 10px;
}

footer > span{
  margin-top: 5%;
  color: #494949ee;
  text-align: center;
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif; 
}

.winner {
  border: 4px solid rgb(23, 118, 206, 0.8);
}

.draw {
  border: 4px solid rgba(230, 131, 39, 0.8)
}